services:
  api:
    build:
      context: .
      dockerfile: backend/Dockerfile
      target: builder
    container_name: fastapi-application
    environment:
      PORT: 8000
    ports:
      - '8000:8000'
    restart: "no"