@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light;
}

:root.dark {
    color-scheme: dark;
}

// Card background colors for different genres
.card--random {
    background: #A7F3D0;
}

.card--pop {
    background: #FDE68A;
}

.card--rock {
    background: #93C5FD;
}

.card--indie {
    background: #FCA5A5;
}

.card--classical {
    background: #C4B5FD;
}


.card--funk {
    background: #FDBA74;
}


.card--rnb {
    background: #67E8F9;
}

.card--lofi {
    background: #F9A8D4;
}

:root.dark {
    .card--random {
        background: #34D399;
    }

    .card--pop {
        background: #FBBF24;
    }

    .card--rock {
        background: #60A5FA;
    }

    .card--indie {
        background: #FB7185;
    }

    .card--classical {
        background: #A78BFA;
    }

    .card--funk {
        background: #FB923C;
    }

    .card--rnb {
        background: #22D3EE;
    }

    .card--lofi {
        background: #F472B6;
    }
}
